DJANGO_SETTINGS_MODULE=backend.settings.docker
SECRET_KEY=change-me
DEBUG=False

# Postgres
POSTGRES_DB=smart_farming
POSTGRES_USER=smart_farming
POSTGRES_PASSWORD=smart_farming
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Celery/Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Frontend token (optional, mostly for dev)
VITE_API_STATIC_TOKEN=

# Streamer auth (choisir une des deux options ci-dessous)
# Option A: token statique (jeton d'accès JWT valide)
API_STATIC_ACCESS_TOKEN=
# Option B: login/password (le streamer ira chercher un jeton)
API_USERNAME=
API_PASSWORD=
API_URL=http://web:8000/api/sensor-readings/
API_TOKEN_URL=http://web:8000/api/token/
API_REFRESH_URL=http://web:8000/api/token/refresh/
