[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-environ = "*"
django-filter = "*"
numpy = "*"
pandas = "*"
faker = "*"
requests = "*"
celery = "*"
joblib = "*"
scikit-learn = "==1.7.2"
pytest = "*"
psycopg2-binary = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
